
*{
	margin: 0px;
	padding: 0px;
}


@font-face { 
font-family: jurassic;
src: url(fonts/jurassic.ttf); 
}


@font-face{ 
font-family: goonies; 
src: url(fonts/goonies.ttf);
}

@font-face{ 
font-family: tron; 
src: url(fonts/TRON.ttf);
}

@font-face{ 
font-family: corleone; 
src: url(fonts/Corleone.ttf);
}

@font-face{ 
font-family: film; 
src: url(fonts/FILMSTRIP.ttf);
}

@font-face{ 
font-family: golden; 
src: url(fonts/GOLDEN.ttf);
}

@font-face{ 
font-family: alien; 
src: url(fonts/FalturaAlien.ttf);
}
@font-face{ 
font-family: spawn; 
src: url(fonts/SPAWNED.ttf);
}
@font-face{ 
font-family: disney; 
src: url(fonts/WALTER.ttf);
}
@font-face{ 
font-family: rango; 
src: url(fonts/RangoMovieFont.ttf);
}
@font-face{ 
font-family: sincity; 
src: url(fonts/SinCity.ttf);
}








@font-face{ 
font-family: soprano; 
src: url(fonts/Mobsters.ttf);
}

@font-face{ 
font-family: apes; 
src: url(fonts/apes.ttf);
}

@font-face{ 
font-family: indy; 
src: url(fonts/indy.ttf);
}

@font-face{ 
font-family: holly; 
src: url(fonts/holly.ttf);
}

@font-face{ 
font-family: invisibl; 
src: url(fonts/invisibl.ttf);
}

@font-face{ 
font-family: bladerun; 
src: url(fonts/bladerun.ttf);
}
@font-face{ 
font-family: battlest; 
src: url(fonts/BATTLEST.ttf);
}
@font-face{ 
font-family: rings; 
src: url(fonts/rings.ttf);
}
@font-face{ 
font-family: diaspues; 
src: url(fonts/28.ttf);
}
@font-face{ 
font-family: afterlife; 
src: url(fonts/Afterlife.ttf);
}



@font-face{ 
font-family: backttf; 
src: url(fonts/BTTF.ttf);
}
@font-face{ 
font-family: casper; 
src: url(fonts/Casper.ttf);
}
@font-face{ 
font-family: terror; 
src: url(fonts/terror.ttf);
}
@font-face{ 
font-family: willy; 
src: url(fonts/willy.ttf);
}
@font-face{ 
font-family: pesadilla; 
src: url(fonts/pesadilla.ttf);
}






.tipofuente0{ font-family: COURIER;}
.tipofuente1{ font-family: soprano;}
.tipofuente2{font-family: apes; color:blue; font-size: 2.05em;}
.tipofuente3{ font-family: indy; color:brown;}
.tipofuente4{ font-family: film;}
.tipofuente5{ font-family: jurassic; color:brown;}
.tipofuente6{ font-family: alien; color:green;}
.tipofuente7{ font-family: spawn; color:red;}
.tipofuente8{ font-family: disney; color:grey;}
.tipofuente9{ font-family: rango; color:green;}
.tipofuente10{ font-family: sincity; color:red; font-size: 2.85em;}


.tipofuente11{ font-family: goonies;}
.tipofuente12{font-family: holly;}
.tipofuente13{ font-family: corleone;}
.tipofuente14{ font-family: bladerun; color:red;}
.tipofuente15{ font-family: golden;}
.tipofuente16{ font-family: invisibl; color:grey; font-size: 2.85em;}
.tipofuente17{ font-family: battlest;}
.tipofuente18{ font-family: rings; color:gold; font-size: 2.85em;}
.tipofuente19{ font-family: diaspues; color:green;}
.tipofuente20{ font-family: afterlife; color:red;}


.tipofuente21{ font-family: tron; font-size: 2.85em; }
.tipofuente22{ font-family: backttf; color:red;}
.tipofuente23{ font-family: casper;}
.tipofuente24{ font-family: terror;}
.tipofuente25{ font-family: willy; color:orange;}
.tipofuente26{ font-family: pesadilla;}


@media print {
	
    button{visibility: hidden;}       
    header{visibility: hidden;}
    h4{font-weight: normal;}
    h3{font-weight: normal;}
    h2{font-weight: normal;}
    h4{font-weight: normal;}
    h5{font-weight: normal;}
    #portada{height: 740px;}
    #portada h5{
   padding-top: 50px;
   text-align: right;}

  }



#cabecera_pies{
 
position: fixed;
    margin-top: 0px;
  padding: 1%;
  
  /*bottom: 0%;*/
  background-color: white;

  left: 10px;
  width: 50%;
 
  
  min-width: 200px;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);



  background-image: -o-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: -moz-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: -webkit-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: -ms-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: linear-gradient(to left, #F0EDF0 6%, #FEFFFC 100%);

}

p{

	font-size: 1em;
	
	/*text-align: left;*/
}

h1 {
  text-align: center;
  /*font-size: 3.85em;*/
  font-weight: lighter;

}


h2{
   font-size: 1em;
   text-transform: uppercase;
   
}


h3{
   font-size: 1em;
   text-align: center;
   text-transform: uppercase;
   

}

h4{
	font-size: 1em;
	margin-left: 30%;
	margin-right: 30%;
	  

}

h5{
   text-align: right;
   text-transform: uppercase;
}

button{
  float: center;
  cursor: pointer;
}
/*
iframe {
  height: 500px;
  border: 0;
}*/

#portada{
  
font-family: Courier;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
background-color: white;
}


#scriptWindow{
  float: right;
font-family: Courier;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 750px;
  padding-top: 30%;
overflow: auto;
}

#logoApp{
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
   background: url(imagenes/paloicon.png) left top no-repeat;
  background-size:  40% 40%;
}

/*
#logoApp{

  margin-left: 0px;
background: url(imagenes/palomitas3.png) left top no-repeat;
  background-size: 35% 35%;
  
}
*/
#tituloguion{ padding: 40%;}


#formulario{
float: right;
}
#archivos{
  float: right;
}


.botonformato{
   display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
  
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:41px;
  -moz-border-radius-topleft:41px;
  border-top-left-radius:41px;
  -webkit-border-top-right-radius:41px;
  -moz-border-radius-topright:41px;
  border-top-right-radius:41px;
  -webkit-border-bottom-right-radius:41px;
  -moz-border-radius-bottomright:41px;
  border-bottom-right-radius:41px;
  -webkit-border-bottom-left-radius:41px;
  -moz-border-radius-bottomleft:41px;
  border-bottom-left-radius:41px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:45px;
  line-height:45px;
  width:45px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  
}
.botonformato:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.botonformato:active {
  position:relative;
  top:-8px;
}



#undo{

  height: 40%;/*
  background-size: 100% 100%;*/
}

#redo{
  height: 40%;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#botones{  
  
  padding: 8%; 
  z-index: -1;
  text-align: center;}
#bocadillo{  height:40%;}
#trans{  height:30%;}
#personaje{  height:35%;}
#escena{  height: 40%;}
#print{  height: 35%;}
#guardar{height: 40%;}
#caratula{height: 35%;}
#diccionario{height: 40%;}
#calendario{height: 48%;}
#reloj{height: 40%;}



#barraespaciadora{
float: center;
    position: relative;
   /*cursor: pointer;*/


 -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:41px;
  -moz-border-radius-topleft:41px;
  border-top-left-radius:41px;
  -webkit-border-top-right-radius:41px;
  -moz-border-radius-topright:41px;
  border-top-right-radius:41px;
  -webkit-border-bottom-right-radius:41px;
  -moz-border-radius-bottomright:41px;
  border-bottom-right-radius:41px;
  -webkit-border-bottom-left-radius:41px;
  -moz-border-radius-bottomleft:41px;
  border-bottom-left-radius:41px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family:Arial;
  font-size:16px;
  
  font-style:normal;
  height:21px;
  line-height:21px;
  width:200px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 0px 50px #ffffff;
  
}

#barraespaciadora:hover{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;}
#barraespaciadora:active {
  position:relative;
  top:6px;
}

#archivos{
  
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);

}

#dicciobox{

}

#iframedic{
 /* height: 300px;
  width: 400px;*/
background: white;
}

#iframedicbox{
  background: white;
}


#rae{height:90%;}
#wordreference{height:90%;}
#JHH{height:90%;}



/*No funciona span bajo*/
span #Reloj{

  height: 3em;
}

#crono{

}

#divaddcalendar{
  display: inline;
}

#diveventcalendar{

}
#fechaslocalcal{
 width: 20%;
  display: block;
}

#insertonlinecalendar{
 /* width: 100px;*/
}


.hidebox{


  
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);

  /*margin-left: 0px;*/



  background-image: -o-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: -moz-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: -webkit-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: -ms-linear-gradient(left, #F0EDF0 6%, #FEFFFC 100%);
background-image: linear-gradient(to left, #F0EDF0 6%, #FEFFFC 100%);





  position: absolute;
  
  top: 60%;
  left: 25%;

    /*width: 50%;*/
 /* height: 100%;*/
  z-index:1002;
  overflow: auto;

}

.content{
  background: #FFFFFF;
  border: solid 3px #CCCCCC;
  padding: 10%;
}

.closers{
  float: right;
}



input[type=radio] {
    display:none;
    margin:10px;
}


input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}

input[type=radio]:checked + label {
   background-image: none;
    background-color:#d0d0d0;
}
 
 label{
  height: 45px;
height:20px;
 }


select{
  width: 45px;
  height: 20px;
  margin: 6%;
}




/*PARA TRABAJARLO Y QUE SEAN EN 3D*/
/*.botonformato {
  -moz-box-shadow:inset 0px 1px 2px 0px #b5a1b5;
  -webkit-box-shadow:inset 0px 1px 2px 0px #b5a1b5;
  box-shadow:inset 0px 1px 2px 0px #b5a1b5;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #140c14), color-stop(1, #634763) );
  background:-moz-linear-gradient( center top, #140c14 5%, #634763 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#140c14', endColorstr='#634763');
  background-color:#140c14;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:42px;
  -moz-border-radius-topright:42px;
  border-top-right-radius:42px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:42px;
  -moz-border-radius-bottomleft:42px;
  border-bottom-left-radius:42px;
  text-indent:-4.5px;
  border:6px solid #d4d1b4;
  display:inline-block;
  color:#f5f4e9;
  font-family:arial;
  font-size:16px;
  font-weight:bold;
  font-style:normal;
  height:48px;
  line-height:48px;
  width:49px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 0px 50px #bda6bd;
}
.botonformato:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #634763), color-stop(1, #140c14) );
  background:-moz-linear-gradient( center top, #634763 5%, #140c14 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634763', endColorstr='#140c14');
  background-color:#634763;
}.botonformato:active {
  position:relative;
  top:8px;
}

*/